@media screen and (max-width: 768px){

.content-width {
    display: flex;
    width: 730px;
    margin: auto;
}

.slider-text {
    font-family: 'League Gothic', sans-serif;
    margin: 0 0 0 0;
    width: 280px;
}

.slider-text__caption {
    font-size: 48px;
    margin: 0 0 0 0;
}

.slider-text__slogan {
    font-size: 24px;
    margin: 0 0 0 0;
}

.slider-text__paragraph {
    font-size: 16px;
    height: 90px;
    margin: 0 0 0 0;
    overflow: hidden;
    width: 280px;
}

.slider-img__img {
    margin: 0 0 0 0;
}

}