@media screen and (max-width: 768px) {
    .content-width {
        display: block;
        width: 730px;
        margin: auto;
    }
    .logo {
        padding: 67px 0 0 13px;
    }
    .menu {
        margin: 29px 0 0 0;
    }
    .menu__item {
        margin: 0 51px 0 0;
    }
}

/*@media screen and (max-width: 480px) {
.content-width {
    width: 445px;
    margin: auto;
}
.menu {
    display: none;
}
.menu__item--current {
    display: block;
}
}*/
